/* .home{
    background-color: #F6D490;
    margin: 0;

} */
.main {
    display: flex;
}
.searchBar {
    margin-top: -7px;
    margin-left: -8px;
    padding-top: 6px;
    background-color: #F6D490;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.search input{

    /* background-color: #F6D490; */
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    justify-content: flex-end ;
    height: 1.5rem;
    /* box-shadow: 0px 0px 10px 0px #000000; */
}
.search {
    width: 56%;
    display: flex;
    align-items: center;
}
.search-icon{
    position: absolute;
    size: 10rem;
    top:3%;
    right: 24%;
}

.NavIcons{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 20%; */
    margin-left: 1rem;
}
.NavIcons .arrowLeft, .NavIcons .arrowRight{
    width: 2rem;
    cursor: pointer;
}
.NavIcons .arrowLeft:hover, .NavIcons .arrowRight:hover{
    width: 2rem;
    cursor: pointer;
    color: rebeccapurple;
}
.user {
    margin-right: 2.5rem;
    /* border: 2px solid black; */
}

.side{
    /* border: 2px solid black; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
    display: inline-block;
    height: 88.3vh;
    padding-left: 1rem;
    margin-left: -8px;
    width: 5rem;
    background-color: rgba(246, 212, 114, .2);
    /* justify-content: space-between; */
    /* align-items: space-between; */

}

.userComm {
    margin-bottom: 3rem;
}
.userComm p{
    font-size: 16px
}

.logout{
    margin-top: 5rem;
    /* margin-left: 1rem; */
    width: 3rem;
    height: 3rem;
    /* border-radius: 50%; */
    /* background-color: #F6D490; */
    /* border: 2px solid black; */
    cursor: pointer;
}


/* Active Community component Styles */
.activeComm {
    border: 2px solid black;
    height: 86vh;
    padding: 1rem;
    background-color: rgba(246, 212, 114, .1);
}

.topics{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    height:2.5rem;
    width: 11em;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.active {
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background-color: rgba(246, 212, 114, .1);
}
.hashIcon {
    display:flex;
    align-items:center
}


/* Discover  Community Styles */

.discover{
    /* border: 2px solid black; */
    width: 70%;
    height: 90vh ;
    overflow: auto ;
}


/* For WebKit (Chrome, Safari) */
/* .discover::-webkit-scrollbar {
    width: 0.5rem;
  } */
  
  /* .discover::-webkit-scrollbar-thumb {
    background: #888; Color of the scrollbar thumb
    border-radius: 2rem; 
  } */

  
  .discoverCard {
    border: 2px solid black;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0rem 1rem;
    width: 80%;
    
  }

  .info {
    /* border: 2px solid black; */
    display: flex;

  }
