.searchBar {
    margin-top: -7px;
    margin-left: -8px;
    padding: .7rem 0rem .7rem 0rem;
    background-color: #F6D490;
    width: 98.7vw;
    display: flex;
    justify-content: space-between;   
}
.search input{

    /* background-color: #F6D490; */
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    justify-content: flex-end ;
    box-shadow: 0px 0px 10px 0px #000000;
}
.search {
    width: 56%;
    display: flex;
    align-items: center;
}
.search-icon{
    position: absolute;
    /* size: 1rem; */
    top:3%;
    right: 22.5%;
}

.NavIcons{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 20%; */
    margin-left: .5rem;
}
.NavIcons .arrowLeft, .NavIcons .arrowRight{
    width: 2rem;
    cursor: pointer;
}
.NavIcons .arrowLeft:hover, .NavIcons .arrowRight:hover{
    width: 2rem;
    cursor: pointer;
    color: rebeccapurple;
}
.user-profile {
    margin-right: 2.5rem;
    /* border: 2px solid black; */
}
