.searchBar {
    margin-top: -7px;
    margin-left: -8px;
    padding-top: 6px;
    background-color: #F6D490;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.search input{

    /* background-color: #F6D490; */
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    justify-content: flex-end ;
    height: 1.5rem;
    /* box-shadow: 0px 0px 10px 0px #000000; */
}
.search {
    width: 56%;
    display: flex;
    align-items: center;
}
.search-icon{
    position: absolute;
    size: 10rem;
    top:3%;
    right: 24%;
}

.NavIcons{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 20%; */
    margin-left: 1rem;
}
.NavIcons .arrowLeft, .NavIcons .arrowRight{
    width: 2rem;
    cursor: pointer;
}
.NavIcons .arrowLeft:hover, .NavIcons .arrowRight:hover{
    width: 2rem;
    cursor: pointer;
    color: rebeccapurple;
}
.user {
    margin-right: 2.5rem;
    /* border: 2px solid black; */
}
