.side{
    /* border: 2px solid black; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-top: .2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -10px;
    width: 4rem;
    background-color: rgba(246, 212, 114, .2);
    align-items: center;
}

.userComm {
    /* border: 2px solid black; */
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.comm {
    margin: 5px 0px;
    cursor: pointer;
}
.side p{
    font-size: 12px;
}

.user-name, .logout-text, .add{
    margin-top: -1px;
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
}


.comm-icons{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    margin-top: 1rem;
    /* width: 100%; */
}
.addComm{
    /* border: 2px solid black; */
}

.logout{
    cursor: pointer;
}

.logout-icon{
    /* border: 2px solid black; */
    width: 2.5rem;
}
